############################################################
# ESTO ES UN EJEMPLO - NO USAR ESTAS CLAVES EN PRODUCCIÓN  #
############################################################

# Credenciales para el Frontend
# (No pongas secretos aquí, solo Client IDs)

# Ejemplo de Twitch (30 caracteres)
VITE_TWITCH_CLIENT_ID=tu_twitch_client_id_aqui

# Ejemplo de Google/YouTube
VITE_YOUTUBE_CLIENT_ID=tu_google_client_id_aqui

# Ejemplo de Kick (Formato UUID)
VITE_KICK_CLIENT_ID=tu_kick_client_id_aqui