############################################################
# ESTO ES UN EJEMPLO - NO USAR ESTAS CLAVES EN PRODUCCIÓN  #
############################################################

PORT=4000

# Autenticación (JWT) de tu propia App (Clave aleatoria larga)
JWT_SECRET=tu_jwt_secreto_muy_largo_y_unico_aqui

# Credenciales de Twitch
TWITCH_CLIENT_ID=tu_twitch_client_id_aqui
TWITCH_CLIENT_SECRET=tu_twitch_client_secret_aqui
TWITCH_REDIRECT_URI=http://localhost:4000/auth/twitch/callback

# Base de datos Neon (Formato típico de Postgres)
DATABASE_URL=postgresql://usuario:password@host:puerto/database

# YouTube Config
YOUTUBE_CLIENT_ID=tu_google_client_id_aqui
YOUTUBE_CLIENT_SECRET=tu_google_client_secret_aqui
YOUTUBE_REDIRECT_URI=http://localhost:4000/auth/youtube/callback

# Kick Config
KICK_CLIENT_ID=tu_kick_client_id_aqui
KICK_CLIENT_SECRET=tu_kick_client_secret_aqui
KICK_REDIRECT_URI=http://localhost:4000/auth/kick/callback

# Configuración del servidor para Webhooks (ngrok)
APP_URL=https://tu-subdominio.ngrok-free.app
KICK_WEBHOOK_SKIP_SIGNATURE=true # cambiar a false en producción super importante

# Encriptación de Base de Datos (Clave de 32 bytes en hex para AES-256)
ENCRYPTION_KEY=tu_clave_de_encriptacion_hexadecimal_de_64_caracteres